<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
   "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- Glyphs that have colored components -->
    <key>uniF400</key>
    <string>uniF_400.glif</string>
    <key>uniF401</key>
    <string>uniF_401.glif</string>
    <key>uniF402</key>
    <string>uniF_402.glif</string>
    <key>uniF403</key>
    <string>uniF_403.glif</string>
    <key>uniF404</key>
    <string>uniF_404.glif</string>
    <key>uniF405</key>
    <string>uniF_405.glif</string>
    <key>uniF406</key>
    <string>uniF_406.glif</string>
    <key>uniF407</key>
    <string>uniF_407.glif</string>
    <key>uniF40A</key>
    <string>uniF_40A_.glif</string>
    <key>uniF40B</key>
    <string>uniF_40B_.glif</string>
    <key>uniF40C</key>
    <string>uniF_40C_.glif</string>
    <key>uniF40D</key>
    <string>uniF_40D_.glif</string>
    <key>uniF40E</key>
    <string>uniF_40E_.glif</string>
    <key>uniF40F</key>
    <string>uniF_40F_.glif</string>
    <key>uniF412</key>
    <string>uniF_412.glif</string>
    <key>uniF413</key>
    <string>uniF_413.glif</string>
    <key>uniF414</key>
    <string>uniF_414.glif</string>
    <key>uniF415</key>
    <string>uniF_415.glif</string>
    <key>uniF416</key>
    <string>uniF_416.glif</string>
    <key>uniF417</key>
    <string>uniF_417.glif</string>
    <key>uniF41A</key>
    <string>uniF_41A_.glif</string>
    <key>uniF41B</key>
    <string>uniF_41B_.glif</string>
    <key>uniF41C</key>
    <string>uniF_41C_.glif</string>
    <key>uniF41D</key>
    <string>uniF_41D_.glif</string>
    <key>uniF41E</key>
    <string>uniF_41E_.glif</string>
    <key>uniF41F</key>
    <string>uniF_41F_.glif</string>
    <key>uniF420</key>
    <string>uniF_420.glif</string>
    <key>uniF421</key>
    <string>uniF_421.glif</string>
    <key>uniF422</key>
    <string>uniF_422.glif</string>
    <key>uniF423</key>
    <string>uniF_423.glif</string>
    <key>uniF424</key>
    <string>uniF_424.glif</string>
    <key>uniF425</key>
    <string>uniF_425.glif</string>
    <key>uniF426</key>
    <string>uniF_426.glif</string>
    <key>uniF427</key>
    <string>uniF_427.glif</string>
    <key>uniF428</key>
    <string>uniF_428.glif</string>
    <key>uniF429</key>
    <string>uniF_429.glif</string>
    <key>uniF42C</key>
    <string>uniF_42C_.glif</string>
    <key>uniF42D</key>
    <string>uniF_42D_.glif</string>
    <key>uniF42E</key>
    <string>uniF_42E_.glif</string>
    <key>uniF431</key>
    <string>uniF_431.glif</string>
    <key>uniF432</key>
    <string>uniF_432.glif</string>
    <key>uniF433</key>
    <string>uniF_433.glif</string>
    <key>uniF434</key>
    <string>uniF_434.glif</string>
    <key>uniF435</key>
    <string>uniF_435.glif</string>
    <key>uniF436</key>
    <string>uniF_436.glif</string>
    <key>uniF437</key>
    <string>uniF_437.glif</string>
    <key>uniF438</key>
    <string>uniF_438.glif</string>
    <key>uniF439</key>
    <string>uniF_439.glif</string>
    <key>uniF43A</key>
    <string>uniF_43A_.glif</string>
    <key>uniF43B</key>
    <string>uniF_43B_.glif</string>
    <key>uniF43E</key>
    <string>uniF_43E_.glif</string>
    <key>uniF43F</key>
    <string>uniF_43F_.glif</string>
    <key>uniF442</key>
    <string>uniF_442.glif</string>
    <key>uniF443</key>
    <string>uniF_443.glif</string>
    <key>uniF444</key>
    <string>uniF_444.glif</string>
    <key>uniF445</key>
    <string>uniF_445.glif</string>
    <key>uniF446</key>
    <string>uniF_446.glif</string>
    <key>uniF447</key>
    <string>uniF_447.glif</string>
    <key>uniF448</key>
    <string>uniF_448.glif</string>
    <key>uniF449</key>
    <string>uniF_449.glif</string>
    <key>uniF44C</key>
    <string>uniF_44C_.glif</string>
    <key>uniF450</key>
    <string>uniF_450.glif</string>
    <key>uniF44D</key>
    <string>uniF_44D_.glif</string>
    <key>uniF44E</key>
    <string>uniF_44E_.glif</string>
    <key>uniF451</key>
    <string>uniF_451.glif</string>
    <key>uniF44F</key>
    <string>uniF_44F_.glif</string>
    <key>uniF454</key>
    <string>uniF_454.glif</string>
    <key>uniF455</key>
    <string>uniF_455.glif</string>
    <key>uniF456</key>
    <string>uniF_456.glif</string>
    <key>uniF457</key>
    <string>uniF_457.glif</string>
    <key>uniF459</key>
    <string>uniF_459.glif</string>
    <key>uniF45A</key>
    <string>uniF_45A_.glif</string>
    <key>uniF45D</key>
    <string>uniF_45D_.glif</string>
    <key>uniF45E</key>
    <string>uniF_45E_.glif</string>
    <key>uniF45F</key>
    <string>uniF_45F_.glif</string>
    <key>uniF460</key>
    <string>uniF_460.glif</string>
    <key>uniF461</key>
    <string>uniF_461.glif</string>
    <key>uniF462</key>
    <string>uniF_462.glif</string>
    <key>uniF465</key>
    <string>uniF_465.glif</string>
    <key>uniF466</key>
    <string>uniF_466.glif</string>
    <key>uniF467</key>
    <string>uniF_467.glif</string>
    <key>uniF468</key>
    <string>uniF_468.glif</string>
    <key>uniF469</key>
    <string>uniF_469.glif</string>
    <key>uniF46A</key>
    <string>uniF_46A_.glif</string>
    <key>uniF46B</key>
    <string>uniF_46B_.glif</string>
    <key>uniF46C</key>
    <string>uniF_46C_.glif</string>
    <key>uniF46D</key>
    <string>uniF_46D_.glif</string>
    <key>uniF46E</key>
    <string>uniF_46E_.glif</string>
    <key>uniF46F</key>
    <string>uniF_46F_.glif</string>
    <key>uniF470</key>
    <string>uniF_470.glif</string>
    <key>uniF471</key>
    <string>uniF_471.glif</string>
    <key>uniF472</key>
    <string>uniF_472.glif</string>
    <key>uniF473</key>
    <string>uniF_473.glif</string>
    <key>uniF474</key>
    <string>uniF_474.glif</string>
    <key>uniF475</key>
    <string>uniF_475.glif</string>
    <key>uniF476</key>
    <string>uniF_476.glif</string>
    <key>uniF479</key>
    <string>uniF_479.glif</string>
    <key>uniF47A</key>
    <string>uniF_47A_.glif</string>
    <key>uniF47B</key>
    <string>uniF_47B_.glif</string>
    <key>uniF47C</key>
    <string>uniF_47C_.glif</string>
    <key>uniF47D</key>
    <string>uniF_47D_.glif</string>
    <key>uniF47E</key>
    <string>uniF_47E_.glif</string>
    <key>uniF487</key>
    <string>uniF_487.glif</string>
    <key>uniF488</key>
    <string>uniF_488.glif</string>
    <key>uniF489</key>
    <string>uniF_489.glif</string>
    <key>uniF48A</key>
    <string>uniF_48A_.glif</string>
    <key>uniF48B</key>
    <string>uniF_48B_.glif</string>
    <key>uniF48C</key>
    <string>uniF_48C_.glif</string>
    <key>uniF48F</key>
    <string>uniF_48F_.glif</string>
    <key>uniF490</key>
    <string>uniF_490.glif</string>
    <key>uniF491</key>
    <string>uniF_491.glif</string>
    <key>uniF492</key>
    <string>uniF_492.glif</string>
    <key>uniF493</key>
    <string>uniF_493.glif</string>
    <key>uniF494</key>
    <string>uniF_494.glif</string>
    <key>uniF497</key>
    <string>uniF_497.glif</string>
    <key>uniF498</key>
    <string>uniF_498.glif</string>
    <key>uniF499</key>
    <string>uniF_499.glif</string>
    <key>uniF49A</key>
    <string>uniF_49A_.glif</string>
    <key>uniF49B</key>
    <string>uniF_49B_.glif</string>
    <key>uniF49C</key>
    <string>uniF_49C_.glif</string>
    <key>uniF49F</key>
    <string>uniF_49F_.glif</string>
    <key>uniF4A0</key>
    <string>uniF_4A_0.glif</string>
    <key>uniF4A1</key>
    <string>uniF_4A_1.glif</string>
    <key>uniF4A2</key>
    <string>uniF_4A_2.glif</string>
    <key>uniF4A3</key>
    <string>uniF_4A_3.glif</string>
    <key>uniF4A4</key>
    <string>uniF_4A_4.glif</string>
    <key>uniF4A7</key>
    <string>uniF_4A_7.glif</string>
    <key>uniF4A8</key>
    <string>uniF_4A_8.glif</string>
    <key>uniF4A9</key>
    <string>uniF_4A_9.glif</string>
    <key>uniF4AA</key>
    <string>uniF_4A_A_.glif</string>
    <key>uniF4AB</key>
    <string>uniF_4A_B_.glif</string>
    <key>uniF4AC</key>
    <string>uniF_4A_C_.glif</string>
    <key>uniF4AF</key>
    <string>uniF_4A_F_.glif</string>
    <key>uniF4B0</key>
    <string>uniF_4B_0.glif</string>
    <key>uniF4B1</key>
    <string>uniF_4B_1.glif</string>
    <key>uniF4B2</key>
    <string>uniF_4B_2.glif</string>
    <key>uniF4B3</key>
    <string>uniF_4B_3.glif</string>
    <key>uniF4B4</key>
    <string>uniF_4B_4.glif</string>
    <key>uniF4B7</key>
    <string>uniF_4B_7.glif</string>
    <key>uniF4B8</key>
    <string>uniF_4B_8.glif</string>
    <key>uniF4B9</key>
    <string>uniF_4B_9.glif</string>
    <key>uniF4BA</key>
    <string>uniF_4B_A_.glif</string>
    <key>uniF4BB</key>
    <string>uniF_4B_B_.glif</string>
    <key>uniF4BC</key>
    <string>uniF_4B_C_.glif</string>
    <key>uniF4BF</key>
    <string>uniF_4B_F_.glif</string>
    <key>uniF4C0</key>
    <string>uniF_4C_0.glif</string>
    <key>uniF4C1</key>
    <string>uniF_4C_1.glif</string>
    <key>uniF4C2</key>
    <string>uniF_4C_2.glif</string>
    <key>uniF4C3</key>
    <string>uniF_4C_3.glif</string>
    <key>uniF4C4</key>
    <string>uniF_4C_4.glif</string>
    <key>uniF4C6</key>
    <string>uniF_4C_6.glif</string>
    <key>uniF4C8</key>
    <string>uniF_4C_8.glif</string>
    <key>uniF4C9</key>
    <string>uniF_4C_9.glif</string>
    <key>uniF4CA</key>
    <string>uniF_4C_A_.glif</string>
    <key>uniF4CB</key>
    <string>uniF_4C_B_.glif</string>
    <key>uniF4CC</key>
    <string>uniF_4C_C_.glif</string>
    <key>uniF4CD</key>
    <string>uniF_4C_D_.glif</string>
    <key>uniF4CE</key>
    <string>uniF_4C_E_.glif</string>
    <key>uniF4CF</key>
    <string>uniF_4C_F_.glif</string>
    <key>uniF4D2</key>
    <string>uniF_4D_2.glif</string>
    <key>uniF4D3</key>
    <string>uniF_4D_3.glif</string>
    <key>uniF4D6</key>
    <string>uniF_4D_6.glif</string>
    <key>uniF4D7</key>
    <string>uniF_4D_7.glif</string>
    <key>uniF4D8</key>
    <string>uniF_4D_8.glif</string>
    <key>uniF4D9</key>
    <string>uniF_4D_9.glif</string>
    <key>uniF4DA</key>
    <string>uniF_4D_A_.glif</string>
    <key>uniF4DB</key>
    <string>uniF_4D_B_.glif</string>
    <key>uniF4DE</key>
    <string>uniF_4D_E_.glif</string>
    <key>uniF4DF</key>
    <string>uniF_4D_F_.glif</string>
    <key>uniF4E2</key>
    <string>uniF_4E_2.glif</string>
    <key>uniF4E3</key>
    <string>uniF_4E_3.glif</string>
    <key>uniF4E4</key>
    <string>uniF_4E_4.glif</string>
    <key>uniF4E5</key>
    <string>uniF_4E_5.glif</string>
    <key>uniF4E6</key>
    <string>uniF_4E_6.glif</string>
    <key>uniF4E7</key>
    <string>uniF_4E_7.glif</string>
    <key>uniF4E8</key>
    <string>uniF_4E_8.glif</string>
    <key>uniF4E9</key>
    <string>uniF_4E_9.glif</string>
    <key>uniF4EC</key>
    <string>uniF_4E_C_.glif</string>
    <key>uniF4ED</key>
    <string>uniF_4E_D_.glif</string>
    <key>uniF4EE</key>
    <string>uniF_4E_E_.glif</string>
    <key>uniF4EF</key>
    <string>uniF_4E_F_.glif</string>
    <key>uniF4F0</key>
    <string>uniF_4F_0.glif</string>
    <key>uniF4F1</key>
    <string>uniF_4F_1.glif</string>
    <key>uniF4F4</key>
    <string>uniF_4F_4.glif</string>
    <key>uniF4F5</key>
    <string>uniF_4F_5.glif</string>
    <key>uniF4F8</key>
    <string>uniF_4F_8.glif</string>
    <key>uniF4F9</key>
    <string>uniF_4F_9.glif</string>
    <key>uniF4FC</key>
    <string>uniF_4F_C_.glif</string>
    <key>uniF4FD</key>
    <string>uniF_4F_D_.glif</string>
    <key>uniF4FE</key>
    <string>uniF_4F_E_.glif</string>
    <key>uniF4FF</key>
    <string>uniF_4F_F_.glif</string>
    <key>uniF500</key>
    <string>uniF_500.glif</string>
    <key>uniF501</key>
    <string>uniF_501.glif</string>
    <key>uniF504</key>
    <string>uniF_504.glif</string>
    <key>uniF505</key>
    <string>uniF_505.glif</string>
    <key>uniF506</key>
    <string>uniF_506.glif</string>
    <key>uniF507</key>
    <string>uniF_507.glif</string>
    <key>uniF508</key>
    <string>uniF_508.glif</string>
    <key>uniF509</key>
    <string>uniF_509.glif</string>
    <key>uniF50C</key>
    <string>uniF_50C_.glif</string>
    <key>uniF50D</key>
    <string>uniF_50D_.glif</string>
    <key>uniF510</key>
    <string>uniF_510.glif</string>
    <key>uniF511</key>
    <string>uniF_511.glif</string>
    <key>uniF514</key>
    <string>uniF_514.glif</string>
    <key>uniF515</key>
    <string>uniF_515.glif</string>
    <key>uniF516</key>
    <string>uniF_516.glif</string>
    <key>uniF517</key>
    <string>uniF_517.glif</string>
    <key>uniF518</key>
    <string>uniF_518.glif</string>
    <key>uniF519</key>
    <string>uniF_519.glif</string>
    <key>uniF51A</key>
    <string>uniF_51A_.glif</string>
    <key>uniF51B</key>
    <string>uniF_51B_.glif</string>
    <key>uniF51C</key>
    <string>uniF_51C_.glif</string>
    <key>uniF51D</key>
    <string>uniF_51D_.glif</string>
    <key>uniF51E</key>
    <string>uniF_51E_.glif</string>
    <key>uniF51F</key>
    <string>uniF_51F_.glif</string>
    <key>uniF520</key>
    <string>uniF_520.glif</string>
    <key>uniF521</key>
    <string>uniF_521.glif</string>
    <key>uniF522</key>
    <string>uniF_522.glif</string>
    <key>uniF523</key>
    <string>uniF_523.glif</string>
    <key>uniF524</key>
    <string>uniF_524.glif</string>
    <key>uniF525</key>
    <string>uniF_525.glif</string>
    <key>uniF526</key>
    <string>uniF_526.glif</string>
    <key>uniF527</key>
    <string>uniF_527.glif</string>
    <key>uniF528</key>
    <string>uniF_528.glif</string>
    <key>uniF529</key>
    <string>uniF_529.glif</string>
    <key>uniF52A</key>
    <string>uniF_52A_.glif</string>
    <key>uniF52B</key>
    <string>uniF_52B_.glif</string>
    <key>uniF52C</key>
    <string>uniF_52C_.glif</string>
    <key>uniF52D</key>
    <string>uniF_52D_.glif</string>
    <key>uniF52E</key>
    <string>uniF_52E_.glif</string>
    <key>uniF52F</key>
    <string>uniF_52F_.glif</string>
    <key>uniF530</key>
    <string>uniF_530.glif</string>
    <key>uniF531</key>
    <string>uniF_531.glif</string>
    <key>uniF538</key>
    <string>uniF_538.glif</string>
    <key>uniF539</key>
    <string>uniF_539.glif</string>
    <key>uniF53A</key>
    <string>uniF_53A_.glif</string>
    <key>uniF53B</key>
    <string>uniF_53B_.glif</string>
    <key>uniF53C</key>
    <string>uniF_53C_.glif</string>
    <key>uniF53D</key>
    <string>uniF_53D_.glif</string>
    <key>uniF53E</key>
    <string>uniF_53E_.glif</string>
    <key>uniF53F</key>
    <string>uniF_53F_.glif</string>
    <key>uniF540</key>
    <string>uniF_540.glif</string>
    <key>uniF541</key>
    <string>uniF_541.glif</string>
    <key>uniF544</key>
    <string>uniF_544.glif</string>
    <key>uniF545</key>
    <string>uniF_545.glif</string>
    <key>uniF546</key>
    <string>uniF_546.glif</string>
    <key>uniF547</key>
    <string>uniF_547.glif</string>
    <key>uniF548</key>
    <string>uniF_548.glif</string>
    <key>uniF549</key>
    <string>uniF_549.glif</string>
    <key>uniF54C</key>
    <string>uniF_54C_.glif</string>
    <key>uniF54D</key>
    <string>uniF_54D_.glif</string>
    <key>uniF54E</key>
    <string>uniF_54E_.glif</string>
    <key>uniF54F</key>
    <string>uniF_54F_.glif</string>
    <key>uniF550</key>
    <string>uniF_550.glif</string>
    <key>uniF551</key>
    <string>uniF_551.glif</string>
    <key>uniF554</key>
    <string>uniF_554.glif</string>
    <key>uniF555</key>
    <string>uniF_555.glif</string>
    <key>uniF556</key>
    <string>uniF_556.glif</string>
    <key>uniF557</key>
    <string>uniF_557.glif</string>
    <key>uniF55A</key>
    <string>uniF_55A_.glif</string>
    <key>uniF55B</key>
    <string>uniF_55B_.glif</string>
    <key>uniF55C</key>
    <string>uniF_55C_.glif</string>
    <key>uniF55D</key>
    <string>uniF_55D_.glif</string>
    <key>uniF560</key>
    <string>uniF_560.glif</string>
    <key>uniF561</key>
    <string>uniF_561.glif</string>
    <key>uniF564</key>
    <string>uniF_564.glif</string>
    <key>uniF565</key>
    <string>uniF_565.glif</string>
    <key>uniF566</key>
    <string>uniF_566.glif</string>
    <key>uniF567</key>
    <string>uniF_567.glif</string>
    <key>uniF568</key>
    <string>uniF_568.glif</string>
    <key>uniF569</key>
    <string>uniF_569.glif</string>
    <key>uniF56A</key>
    <string>uniF_56A_.glif</string>
    <key>uniF56B</key>
    <string>uniF_56B_.glif</string>
    <key>uniF56C</key>
    <string>uniF_56C_.glif</string>
    <key>uniF56D</key>
    <string>uniF_56D_.glif</string>
    <key>uniF56E</key>
    <string>uniF_56E_.glif</string>
    <key>uniF56F</key>
    <string>uniF_56F_.glif</string>
    <key>uniF570</key>
    <string>uniF_570.glif</string>
    <key>uniF571</key>
    <string>uniF_571.glif</string>
    <key>uniF574</key>
    <string>uniF_574.glif</string>
    <key>uniF575</key>
    <string>uniF_575.glif</string>
    <key>uniF576</key>
    <string>uniF_576.glif</string>
    <key>uniF577</key>
    <string>uniF_577.glif</string>
    <key>uniF578</key>
    <string>uniF_578.glif</string>
    <key>uniF579</key>
    <string>uniF_579.glif</string>
    <key>uniF57C</key>
    <string>uniF_57C_.glif</string>
    <key>uniF57D</key>
    <string>uniF_57D_.glif</string>
    <key>uniF580</key>
    <string>uniF_580.glif</string>
    <key>uniF581</key>
    <string>uniF_581.glif</string>
    <key>uniF582</key>
    <string>uniF_582.glif</string>
    <key>uniF583</key>
    <string>uniF_583.glif</string>
    <key>uniF586</key>
    <string>uniF_586.glif</string>
    <key>uniF587</key>
    <string>uniF_587.glif</string>
    <key>uniF58A</key>
    <string>uniF_58A_.glif</string>
    <key>uniF58B</key>
    <string>uniF_58B_.glif</string>
    <key>uniF58C</key>
    <string>uniF_58C_.glif</string>
    <key>uniF58D</key>
    <string>uniF_58D_.glif</string>
    <key>uniF58E</key>
    <string>uniF_58E_.glif</string>
    <key>uniF58F</key>
    <string>uniF_58F_.glif</string>
    <key>uniF590</key>
    <string>uniF_590.glif</string>
    <key>uniF591</key>
    <string>uniF_591.glif</string>
    <key>uniF598</key>
    <string>uniF_598.glif</string>
    <key>uniF599</key>
    <string>uniF_599.glif</string>
    <key>uniF59C</key>
    <string>uniF_59C_.glif</string>
    <key>uniF59D</key>
    <string>uniF_59D_.glif</string>
    <key>uniF59E</key>
    <string>uniF_59E_.glif</string>
    <key>uniF59F</key>
    <string>uniF_59F_.glif</string>
    <key>uniF5A0</key>
    <string>uniF_5A_0.glif</string>
    <key>uniF5A1</key>
    <string>uniF_5A_1.glif</string>
    <key>uniF5A2</key>
    <string>uniF_5A_2.glif</string>
    <key>uniF5A3</key>
    <string>uniF_5A_3.glif</string>
    <key>uniF5A4</key>
    <string>uniF_5A_4.glif</string>
    <key>uniF5A5</key>
    <string>uniF_5A_5.glif</string>
    <key>uniF5A6</key>
    <string>uniF_5A_6.glif</string>
    <key>uniF5A7</key>
    <string>uniF_5A_7.glif</string>
    <key>uniF5A8</key>
    <string>uniF_5A_8.glif</string>
    <key>uniF5A9</key>
    <string>uniF_5A_9.glif</string>
    <key>uniF5AA</key>
    <string>uniF_5A_A_.glif</string>
    <key>uniF5AB</key>
    <string>uniF_5A_B_.glif</string>
    <key>uniF5AC</key>
    <string>uniF_5A_C_.glif</string>
    <key>uniF5AD</key>
    <string>uniF_5A_D_.glif</string>
    <key>uniF5AE</key>
    <string>uniF_5A_E_.glif</string>
    <key>uniF5AF</key>
    <string>uniF_5A_F_.glif</string>
    <key>uniF5B0</key>
    <string>uniF_5B_0.glif</string>
    <key>uniF5B1</key>
    <string>uniF_5B_1.glif</string>
    <key>uniF5B2</key>
    <string>uniF_5B_2.glif</string>
    <key>uniF5B3</key>
    <string>uniF_5B_3.glif</string>
    <key>uniF5B6</key>
    <string>uniF_5B_6.glif</string>
    <key>uniF5B7</key>
    <string>uniF_5B_7.glif</string>
    <key>uniF5BA</key>
    <string>uniF_5B_A_.glif</string>
    <key>uniF5BB</key>
    <string>uniF_5B_B_.glif</string>
    <key>uniF5BE</key>
    <string>uniF_5B_E_.glif</string>
    <key>uniF5BF</key>
    <string>uniF_5B_F_.glif</string>
    <key>uniF5C0</key>
    <string>uniF_5C_0.glif</string>
    <key>uniF5C1</key>
    <string>uniF_5C_1.glif</string>
    <key>uniF5C2</key>
    <string>uniF_5C_2.glif</string>
    <key>uniF5C3</key>
    <string>uniF_5C_3.glif</string>
    <key>uniF5C4</key>
    <string>uniF_5C_4.glif</string>
    <key>uniF5C5</key>
    <string>uniF_5C_5.glif</string>
    <key>uniF5CC</key>
    <string>uniF_5C_C_.glif</string>
    <key>uniF5CD</key>
    <string>uniF_5C_D_.glif</string>
    <key>uniF5D0</key>
    <string>uniF_5D_0.glif</string>
    <key>uniF5D1</key>
    <string>uniF_5D_1.glif</string>
    <key>uniF5D2</key>
    <string>uniF_5D_2.glif</string>
    <key>uniF5D3</key>
    <string>uniF_5D_3.glif</string>
    <key>uniF5D4</key>
    <string>uniF_5D_4.glif</string>
    <key>uniF5D5</key>
    <string>uniF_5D_5.glif</string>
    <key>uniF5D6</key>
    <string>uniF_5D_6.glif</string>
    <key>uniF5D7</key>
    <string>uniF_5D_7.glif</string>
    <key>uniF5D8</key>
    <string>uniF_5D_8.glif</string>
    <key>uniF5D9</key>
    <string>uniF_5D_9.glif</string>
    <key>uniF5DA</key>
    <string>uniF_5D_A_.glif</string>
    <key>uniF5DB</key>
    <string>uniF_5D_B_.glif</string>
    <key>uniF5DC</key>
    <string>uniF_5D_C_.glif</string>
    <key>uniF5DD</key>
    <string>uniF_5D_D_.glif</string>
    <key>uniF5DE</key>
    <string>uniF_5D_E_.glif</string>
    <key>uniF5DF</key>
    <string>uniF_5D_F_.glif</string>
    <key>uniF5E0</key>
    <string>uniF_5E_0.glif</string>
    <key>uniF5E1</key>
    <string>uniF_5E_1.glif</string>
    <key>uniF5E2</key>
    <string>uniF_5E_2.glif</string>
    <key>uniF5E3</key>
    <string>uniF_5E_3.glif</string>
    <key>uniF5E4</key>
    <string>uniF_5E_4.glif</string>
    <key>uniF5E5</key>
    <string>uniF_5E_5.glif</string>
    <key>uniF5E6</key>
    <string>uniF_5E_6.glif</string>
    <key>uniF5E7</key>
    <string>uniF_5E_7.glif</string>
    <key>uniF5EA</key>
    <string>uniF_5E_A_.glif</string>
    <key>uniF5EB</key>
    <string>uniF_5E_B_.glif</string>
    <key>uniF5EE</key>
    <string>uniF_5E_E_.glif</string>
    <key>uniF5EF</key>
    <string>uniF_5E_F_.glif</string>
    <key>uniF5F5</key>
    <string>uniF_5F_5.glif</string>
    <key>uniF5F8</key>
    <string>uniF_5F_8.glif</string>
    <key>uniF5F9</key>
    <string>uniF_5F_9.glif</string>
    <key>uniF5FA</key>
    <string>uniF_5F_A_.glif</string>
    <key>uniF5FC</key>
    <string>uniF_5F_C_.glif</string>
    <key>uniF5FD</key>
    <string>uniF_5F_D_.glif</string>
    <key>uniF5FE</key>
    <string>uniF_5F_E_.glif</string>
    <key>uniF601</key>
    <string>uniF_601.glif</string>
    <key>uniF602</key>
    <string>uniF_602.glif</string>
    <key>uniF603</key>
    <string>uniF_603.glif</string>
    <key>uniF606</key>
    <string>uniF_606.glif</string>
    <key>uniF607</key>
    <string>uniF_607.glif</string>
    <key>uniF608</key>
    <string>uniF_608.glif</string>
    <key>uniF60B</key>
    <string>uniF_60B_.glif</string>
    <key>uniF60C</key>
    <string>uniF_60C_.glif</string>
    <key>uniF60D</key>
    <string>uniF_60D_.glif</string>
    <key>uniF60E</key>
    <string>uniF_60E_.glif</string>
    <key>uniF60F</key>
    <string>uniF_60F_.glif</string>
    <key>uniF610</key>
    <string>uniF_610.glif</string>
    <key>uniF611</key>
    <string>uniF_611.glif</string>
    <key>uniF612</key>
    <string>uniF_612.glif</string>
    <key>uniF613</key>
    <string>uniF_613.glif</string>
    <key>uniEA5E</key>
    <string>uniE_A_5E_.glif</string>
    <key>uniEA5F</key>
    <string>uniE_A_5F_.glif</string>
</dict>
</plist>
