<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
   "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- Glyphs Encoded in Unicode -->
    <key>u1CF00</key>
    <string>u1C_F_00.glif</string>
    <key>u1CF01</key>
    <string>u1C_F_01.glif</string>
    <key>u1CF02</key>
    <string>u1C_F_02.glif</string>
    <key>u1CF03</key>
    <string>u1C_F_03.glif</string>
    <key>u1CF04</key>
    <string>u1C_F_04.glif</string>
    <key>u1CF05</key>
    <string>u1C_F_05.glif</string>
    <key>u1CF06</key>
    <string>u1C_F_06.glif</string>
    <key>u1CF07</key>
    <string>u1C_F_07.glif</string>
    <key>u1CF08</key>
    <string>u1C_F_08.glif</string>
    <key>u1CF09</key>
    <string>u1C_F_09.glif</string>
    <key>u1CF0A</key>
    <string>u1C_F_0A_.glif</string>
    <key>u1CF0B</key>
    <string>u1C_F_0B_.glif</string>
    <key>u1CF0C</key>
    <string>u1C_F_0C_.glif</string>
    <key>u1CF0D</key>
    <string>u1C_F_0D_.glif</string>
    <key>u1CF0E</key>
    <string>u1C_F_0E_.glif</string>
    <key>u1CF0F</key>
    <string>u1C_F_0F_.glif</string>
    <key>u1CF10</key>
    <string>u1C_F_10.glif</string>
    <key>u1CF11</key>
    <string>u1C_F_11.glif</string>
    <key>u1CF12</key>
    <string>u1C_F_12.glif</string>
    <key>u1CF13</key>
    <string>u1C_F_13.glif</string>
    <key>u1CF14</key>
    <string>u1C_F_14.glif</string>
    <key>u1CF15</key>
    <string>u1C_F_15.glif</string>
    <key>u1CF16</key>
    <string>u1C_F_16.glif</string>
    <key>u1CF17</key>
    <string>u1C_F_17.glif</string>
    <key>u1CF18</key>
    <string>u1C_F_18.glif</string>
    <key>u1CF19</key>
    <string>u1C_F_19.glif</string>
    <key>u1CF1A</key>
    <string>u1C_F_1A_.glif</string>
    <key>u1CF1B</key>
    <string>u1C_F_1B_.glif</string>
    <key>u1CF1C</key>
    <string>u1C_F_1C_.glif</string>
    <key>u1CF1D</key>
    <string>u1C_F_1D_.glif</string>
    <key>u1CF1E</key>
    <string>u1C_F_1E_.glif</string>
    <key>u1CF1F</key>
    <string>u1C_F_1F_.glif</string>
    <key>u1CF20</key>
    <string>u1C_F_20.glif</string>
    <key>u1CF21</key>
    <string>u1C_F_21.glif</string>
    <key>u1CF22</key>
    <string>u1C_F_22.glif</string>
    <key>u1CF23</key>
    <string>u1C_F_23.glif</string>
    <key>u1CF24</key>
    <string>u1C_F_24.glif</string>
    <key>u1CF25</key>
    <string>u1C_F_25.glif</string>
    <key>u1CF26</key>
    <string>u1C_F_26.glif</string>
    <key>u1CF27</key>
    <string>u1C_F_27.glif</string>
    <key>u1CF28</key>
    <string>u1C_F_28.glif</string>
    <key>u1CF29</key>
    <string>u1C_F_29.glif</string>
    <key>u1CF2A</key>
    <string>u1C_F_2A_.glif</string>
    <key>u1CF2B</key>
    <string>u1C_F_2B_.glif</string>
    <key>u1CF2C</key>
    <string>u1C_F_2C_.glif</string>
    <key>u1CF2D</key>
    <string>u1C_F_2D_.glif</string>
    <!-- Stylistic Alternative glyphs in the PUA -->
    <key>uniEA00</key>
    <string>uniE_A_00.glif</string>
    <key>uniEA01</key>
    <string>uniE_A_01.glif</string>
    <key>uniEA02</key>
    <string>uniE_A_02.glif</string>
    <key>uniEA03</key>
    <string>uniE_A_03.glif</string>
    <key>uniEA04</key>
    <string>uniE_A_04.glif</string>
    <key>uniEA05</key>
    <string>uniE_A_05.glif</string>
    <key>uniEA06</key>
    <string>uniE_A_06.glif</string>
    <key>uniEA07</key>
    <string>uniE_A_07.glif</string>
    <key>uniEA08</key>
    <string>uniE_A_08.glif</string>
    <key>uniEA10</key>
    <string>uniE_A_10.glif</string>
    <key>uniEA11</key>
    <string>uniE_A_11.glif</string>
    <key>uniEA12</key>
    <string>uniE_A_12.glif</string>
    <key>uniEA13</key>
    <string>uniE_A_13.glif</string>
    <key>uniEA14</key>
    <string>uniE_A_14.glif</string>
    <key>uniEA15</key>
    <string>uniE_A_15.glif</string>
    <key>uniEA18</key>
    <string>uniE_A_18.glif</string>
    <!-- Explanatory Marks in the PUA -->
    <key>uniEA20</key>
    <string>uniE_A_20.glif</string>
    <key>uniEA21</key>
    <string>uniE_A_21.glif</string>
    <key>uniEA22</key>
    <string>uniE_A_22.glif</string>
    <key>uniEA23</key>
    <string>uniE_A_23.glif</string>
    <key>uniEA24</key>
    <string>uniE_A_24.glif</string>
    <key>uniEA25</key>
    <string>uniE_A_25.glif</string>
    <key>uniEA26</key>
    <string>uniE_A_26.glif</string>
    <key>uniEA27</key>
    <string>uniE_A_27.glif</string>
    <key>uniEA28</key>
    <string>uniE_A_28.glif</string>
    <key>uniEA29</key>
    <string>uniE_A_29.glif</string>
    <key>uniEA2A</key>
    <string>uniE_A_2A_.glif</string>
    <key>uniEA2B</key>
    <string>uniE_A_2B_.glif</string>
    <key>uniEA2C</key>
    <string>uniE_A_2C_.glif</string>
    <key>uniEA2D</key>
    <string>uniE_A_2D_.glif</string>
    <key>uniEA30</key>
    <string>uniE_A_30.glif</string>
    <key>uniEA31</key>
    <string>uniE_A_31.glif</string>
    <key>uniEA32</key>
    <string>uniE_A_32.glif</string>
    <key>uniEA33</key>
    <string>uniE_A_33.glif</string>
    <key>uniEA34</key>
    <string>uniE_A_34.glif</string>
    <key>uniEA35</key>
    <string>uniE_A_35.glif</string>
    <key>uniEA36</key>
    <string>uniE_A_36.glif</string>
    <key>uniEA37</key>
    <string>uniE_A_37.glif</string>
    <key>uniEA38</key>
    <string>uniE_A_38.glif</string>
    <key>uniEA39</key>
    <string>uniE_A_39.glif</string>
    <key>uniEA3A</key>
    <string>uniE_A_3A_.glif</string>
    <key>uniEA3B</key>
    <string>uniE_A_3B_.glif</string>
    <key>uniEA3C</key>
    <string>uniE_A_3C_.glif</string>
    <key>uniEA3D</key>
    <string>uniE_A_3D_.glif</string>
    <key>uniEA3E</key>
    <string>uniE_A_3E_.glif</string>
    <key>uniEA3F</key>
    <string>uniE_A_3F_.glif</string>
    <key>uniEA40</key>
    <string>uniE_A_40.glif</string>
    <key>uniEA41</key>
    <string>uniE_A_41.glif</string>
    <key>uniEA2D</key>
    <string>uniE_A_2D_.glif</string>
    <key>uniEA42</key>
    <string>uniE_A_42.glif</string>
    <key>uniEA43</key>
    <string>uniE_A_43.glif</string>

</dict>
</plist>
